streamlit
pandas==1.5.2
matplotlib==3.6.2
plotly==5.11.0
scipy==1.9.3
scikit-learn==1.2.0
bs4==0.0.1
openai==0.27.0
transformers==4.25.1
PyPDF2==2.12.0
psutil==5.9.4
sqlalchemy==1.4.46
duckduckgo-search==2.8.0
streamlit-lottie==0.0.3